<!DOCTYPE html>
<html>
<head>
  <title>stagger | anime.js</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="og:title" content="anime.js">
  <meta property="og:url" content="https://animejs.com">
  <meta property="og:description" content="Javascript Animation Engine">
  <meta property="og:image" content="https://animejs.com/documentation/assets/img/icons/og.png">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="anime.js">
  <meta name="twitter:site" content="@juliangarnier">
  <meta name="twitter:description" content="Javascript Animation Engine">
  <meta name="twitter:image" content="https://animejs.com/documentation/assets/img/icons/twitter.png">
  <link rel="apple-touch-icon-precomposed" href="../assets/img/social-media-image.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png" >
  <link href="../assets/css/animejs.css" rel="stylesheet">
  <link href="../assets/css/documentation.css" rel="stylesheet">



  <script type="text/javascript" src="{{ url_for('static', filename='js/anime.min.js') }}"></script>
  <link href="{{ url_for('static', filename='css/documentation.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/documentation.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='img/social-media-image.png') }}" rel="icon">
  <link href="../assets/css/documentation.css" rel="stylesheet">



        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/cover.css') }}" rel="stylesheet">


  <style>

    :root {
      font-size: 20px;
    }

    body {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
    }



  </style>
</head>
<body>



{#    <a href="{{ url_for('ColorPurple') }}"><button type="button" class="btn btn-light">Вперёд</button></a>#}
    <a href="{{ url_for('ColorBlack') }}"><button type="button" class="btn btn-light">Еще раз?</button></a>
    <a href="{{ url_for('menu') }}"><button type="button" class="btn btn-light">В меню</button></a>




</body>

</html>
